# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
env/
.venv/
myenv/
*.egg-info/

# SQLite DB (keep schema, exclude binary db)
backend/database/
*.db

# Node
node_modules/
frontend/build/
frontend/.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user
